# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
